body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:rgba(233, 157, 57, 0.776);
}

h1{
  text-align: center;
}
a {
  color: #ff0019c8;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
  color: red;
}
	
.delete-form button {
  color: red;
}
	
ul {
  list-style: none;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-color: rgb(246, 249, 221); 
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
